*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #7C6354;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container{
    height: 32rem;
    width: 10rem;
    border-top: 7px solid #E3E9C2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#A5ABAF;
    padding: 10px 0;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.411);
}

h3{
    color: rgba(0, 0, 0, 0.5);
    width: 60%;
    text-align: center;
    font-size: .75rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.network-info{
    height: 7rem;
    width: 7rem;
    background-color: #F9FBB2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 4px #f8fbb294;
    gap: 5px;
    transition: all 450ms linear;

    &:hover{
        cursor: pointer;
        scale: 1.05;
        transform: rotateY(180deg)
    }

    &:active{
        scale: .95;
    }

    >span{
        font-weight: 800;
        font-size: 1.25rem;
        opacity: .75;
        transition: all 450ms linear;
        
    }
}

ion-icon{
    font-size: 2.25rem;
    transition: all 250ms linear;
}

#facebook{
    color: #316FF6
}

#instagram{
    color: #d62976;
}

#twitter{
    color: #1DA1F2;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 3.5rem;
    height: 2.75rem;
    width: 7.5rem;
    color: #686c6e;
    background-color:#E3E9C2;
    box-shadow: 0 0 2px 2px #e3e9c279;
    border: none;
    border-radius: 3px;

    &:hover{
        cursor: pointer;
        scale: 1.05;
    }

    &:active{
        scale: .95;
    }
}

